@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;


}

body {

    font-family: Poppins;
    color: white;
    min-height: 20000px;
    overflow-x: hidden;
    background: rgb(255, 233, 174);
    background: #305307;


}

/*  */
/*  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2%;
    background-color: transparent;
    /* Set warna background menjadi transparan */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: background-color 0.8s ease-in-out, top 0.8s ease-in-out;
    color: white;
    /* Warna teks navbar saat belum discroll */
}

.navbar.active {
    background-color: white;
    /* Add styles for the active state, when scrolled or hovered */
    color: black;
    /* Warna teks navbar saat navbar aktif */
}

.navbar:hover {
    background-color: white;
    /* Warna latar belakang saat navbar di-hover */
    color: black;
    /* Warna teks navbar saat navbar di-hover */
}

.navbar.active:hover {
    color: white;
    /* Warna teks navbar saat navbar aktif dan di-hover */
}

#navbar:not(.active) {
    color: black;
    /* Warna teks navbar saat belum aktif dan di-hover */
}

.navbar .logo-navbar {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.navbar .logo-navbar span {
    font-weight: 900;
    color: rgb(0, 110, 255);
}

.navbar .navbar-nav a {
    color: black;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 3rem;

}

.navbar .navbar-nav a:hover {
    color: rgb(0, 110, 255);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid rgb(0, 110, 255);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

#humberger {
    display: none;
}

/* end navbar */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/img/indexBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}

.hero .content {
    padding: 2rem 10% 10rem;
    text-align: center;
}

.hero .content h3 {
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
    font-weight: 300;
}

.hero .content h1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
    font-weight: 900;
}

/*section background*/

/* panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -90px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;

}

.info-panel p {
    font-size: 12px;
    color: #acacac;
    font-weight: 200;
    margin-top: -1px;
}

.container-panel {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.container-panel.visible {
    opacity: 1;
    transform: translateY(0);
}



/* end panel */



/*about us*/
.about {
    padding: 8rem 7% 1.4rem;
    color: black;
    /* background: rgb(25, 49, 1); */
    /* background: linear-gradient(180deg, rgb(25, 49, 1) 0%, rgb(102, 172, 37) 60%); */
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: silver;
}

.about .baris {
    display: flex;

}

.about .baris .img-about {
    flex: 1 1 45rem;
}

.about .baris .img-about img {
    width: 100%;

}

.about .baris .content {
    flex: 1 1 35rem;
    padding: 0 2rem;
}

.about .baris .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .baris .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

/* end about */
#menu {
    background: rgb(168, 170, 71);
    background: linear-gradient(180deg, rgba(168, 170, 71, 1) 0%, rgba(117, 135, 49, 1) 60%);
}

/* slide show */
.slides {
    width: 100%;
    position: relative;
    height: 50%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.slides::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

.slides .slide {
    display: none;
    position: relative;


}

.slides .slide-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.slides .slide-info h2,
.slides .slide-info p {
    margin: 0;
}


.slides .slide img {
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    height: 80vh;
}

.navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.navigation .prev,
.navigation .next {
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    user-select: none;
    transition: 0.6s ease;
    z-index: 1;
}

.navigation .prev:hover,
.navigation .next:hover {
    background: rgb(168, 170, 71);
}

@keyframes fade {
    from {
        opacity: 0.3
    }

    to {
        opacity: 1
    }
}

#logo {
    display: none;
}

/* end slide show */

.new {
    background: rgb(63, 73, 26);
    background: linear-gradient(180deg, rgb(52, 60, 22) 0%, rgba(168, 170, 71, 1) 50%);
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(13, 80, 31, 0.719);
    padding: 15px;
    /* color: #f3f3f3; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}







/*renponsive web*/

/*laptop*/
@media(min-width: 1000px) and (max-width: 1920px) {
    html {
        font-size: 75%;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 18px;
        padding: 13px;
    }

    #hamburger {
        display: none;
    }

}

/*tablet*/
@media(min-width: 430px) and (max-width: 1000px) {
    html {
        font-size: 62.5%;
    }

    .info-panel {
        display: none;
    }

    #humberger {
        display: none;
        color: #000;
    }


    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        width: 100%;
        height: 0;
        transition: .3s;
        overflow: hidden;


    }

    .navbar .navbar-nav.active {
        height: 17.7rem !important;


    }

    .navbar .navbar-nav a {
        color: black;
        display: block;
        font-size: 1.1rem;
        margin: 1.1rem 0;
        text-align: center;
        padding-top: 1.1rem;


    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.05);
        transition: 0.2s linear;
    }

    .about .baris {
        flex-wrap: wrap;
    }

    .about .baris .img-about img {
        height: 24rem;

        object-position: center;
    }

    .about .baris .content h3 {
        margin-top: 3rem;
        font-size: 2rem;
    }

    .about .baris .content p {
        font-size: 1.6rem;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 15px;
        padding: 10px;
    }
}

@media(max-width: 767px) {
    #humberger {
        display: inline-flex;
        color: #000;
        /* Penyesuaian posisi untuk hamburger di kanan atas */
        position: absolute;
        top: 16px;
        right: 6%;

    }

    #logo {
        position: absolute;
        top: 10px;
        display: inline-flex;
        left: 10px;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 12px;
        padding: 7px;
    }
}


/*hp*/
@media(max-width: 450px) {
    html {
        font-size: 55%;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 11px;
        padding: 6px;
    }

}

/*laptop*/